                    <table class="row header">
                        <tr>
                            <td class="center" align="center">
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td class="wrapper last">
                                                <table class="twelve columns">
                                                    <tr>
                                                        <td class="twelve sub-columns">
                                                            <img src="https://asna.com/filebin/marketing/MR/ASNALogo-white-159x50.png" />
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="twelve sub-columns last" style="text-align:left; vertical-align:bottom;">
                                                            <span style="color:white;" class="template-label">We bring IBM&nbsp;i RPG assets forward</span>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                            </td>
                        </tr>
                    </table>
