<table class="row">
    <tr>
        <td class="wrapper">
            <table class="twelve columns">
                <tr>
                    <td>
                        <h4>{{ subhead | raw }}</h4>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
        <td class="expander"></td>
    </tr>
</table>
